.main__our--commmit{
    display: flex;
    align-items: center;
    margin-bottom: 160px;
}
.main__our--list{
    margin-left: 125px;
}
.main__our--img{
    border-radius: 10px;
}
.our__item{
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}
.our__text{
    width: 570px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}